.fareFamilies {
	margin-bottom: 60px;

	&-title {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}

	&-leg {
		&-segment {
			margin-bottom: 15px;
			padding: 20px 24px;

			&__families {
				display: flex;
				overflow-x: auto;
			}

			&-title {
				display: flex;
				align-items: center;
				justify-content: space-between;

				margin: 0 -24px;
				padding: 0 24px 15px;
				border-bottom: 1px solid #cecece;

				h1 {
					font-size: 1.3rem;
				}

				&__left {
					display: flex;
					align-items: center;
				}

				&-logo {
					width: 150px;

					img {
						max-width: 110px;
						max-height: 25px;
						vertical-align: middle;
					}
				}

				&__disclaimer {
					font-size: 17px;
					color: rgba(0, 0, 0, 0.54);
				}
			}

			&-family {
				flex: 1;
				min-width: 215px;

				&:not(:last-of-type) {
					border-right: 1px solid #eee;
				}

				&__name {
					text-align: center;
					padding: 5px 15px;
				}

				&__price {
					border-top: 1px solid #eee;
					border-bottom: 1px solid #eee;

					text-align: center;
					padding: 10px 0;

					color: #88c43d;
					font-size: 15px;
				}

				&__features {
					padding: 10px;
				}

				&-feature {
					display: flex;
					align-items: center;

					padding: 0 15px 0 0;
					margin-bottom: 10px;

					&__tooltip {
						div[role="tooltip"] {
							max-width: 300px;
							padding: 8px;
							font-size: 0.8rem;
						}
					}

					&__icon {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 10px;

						svg {
							width: 17px;
							height: 17px;
						}

						&_Free {
							svg {
								fill: #94ca51;
							}
						}

						&_NotAvailable {
							svg {
								fill: #f44336;
							}
						}

						&_Charge {
							svg {
								fill: #ff9800;
							}
						}
					}
				}
			}
		}
	}

	&-selectedFlights {
		&-title {
			@extend .fareFamilies-title;
			margin-bottom: 20px !important;
		}
	}
}
