.fareFamilies {
	&-title {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}

	&-leg {
		&-segment {
			margin-bottom: 30px;

			&__families {
				display: flex;
			}

			&-family {
				flex: 1;

				&-feature {
					display: flex;
					align-items: center;

					&__icon {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 6px;

						&_Free {
							svg {
								fill: #94ca51;
								width: 19px
							}
						}

						&_NotAvailable {
							svg {
								fill: #f44336;
								width: 19px
							}
						}

						&_Charge {
							svg {
								fill: #ff9800;
								width: 19px
							}
						}
					}
				}
			}
		}
	}

	&-selectedFlights {
		&-title {
			@extend .fareFamilies-title;
			margin-bottom: 20px !important;
		}
	}
}
