@import "variable";

.filters {
	display: flex;
	justify-content: space-between;
	flex: 0 0 auto;
	position: relative;

	width: 100%;
	margin: 20px auto;

	&_withBottomMargin {
		margin-bottom: 80px;
	}

	&__left,
	&__right {
		display: flex;
		align-items: center;
	}

	&-title {
		display: flex;
		align-items: center;
	}

	&-title {
		position: relative;
		top: -1px;
		margin-right: 10px;

		font-size: 14px;
		color: rgba(0, 0, 0, 0.54);
	}

	&-filter {
		&:not(:first-of-type) {
			margin-left: 10px;
		}

		&-chip {
			&__icon {
				transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
			}
		}

		&_active {
			.filters-filter-chip {
				&,
				&:hover,
				&:focus,
				&:active {
					background: #64b5f6;
					color: #ffffff;
				}

				&__icon {
					color: #ffffff;
					background-color: #0e8bf0;
				}
			}
		}

		&-popover {
			margin-top: 5px;

			&-legend {
				margin-bottom: 10px;
			}

			&__columns {
				display: flex;
			}

			&-column {
				&:not(:last-of-type) {
					margin-right: 50px;
				}
			}

			& &-group {
				flex-direction: row;
				justify-content: space-between;

				max-width: 450px;
				min-width: 250px;

				&__label {
					flex: 0 0 50%;
					max-width: 250px;
					margin-right: 0;
					user-select: none;
				}
			}

			&__wrapper {
				padding: 20px 20px 5px;

				&_airports {
					.filters-filter-popover-group {
						min-width: 0;
						flex-direction: column;
					}
				}
			}
		}
	}
}
