@import "variable";

.filters {
	display: flex;
	justify-content: space-between;
	flex: 0 0 auto;
	position: relative;

	width: 100%;
	margin: 20px auto;

	@include adaptivity(laptop) {
		flex-wrap: wrap;
	}

	@include adaptivity(phone) {
		margin: 10px auto;
	}

	&_withBottomMargin {
		margin-bottom: 80px;

		@include adaptivity("tablet") {
			margin-bottom: 10px;
		}
	}

	&-filter {
		margin-bottom: 10px;
	}

	&__left,
	&__right {
		display: flex;
		align-items: center;

		h1 {
			@include adaptivity(phone) {
				font-size: 1.3rem;
			}
		}

		@include adaptivity(laptop) {
			flex-basis: 100%;
			justify-content: center;
		}
	}

	&__right {
		margin-bottom: -10px;

		@include adaptivity(laptop) {
			margin-top: 20px;
		}

		@include adaptivity(tablet) {
			display: none;
		}
	}

	&-title {
		display: flex;
		align-items: center;

		@include adaptivity(phone) {
			display: none;
		}
	}

	&-title {
		position: relative;
		top: -1px;
		margin-right: 10px;
		margin-bottom: 10px;

		font-size: 14px;
		color: rgba(0, 0, 0, 0.54);
	}

	&-filter {
		&:not(:first-of-type) {
			margin-left: 10px;

			@include adaptivity("tablet") {
				margin-left: 0;
			}
		}

		&-chip {
			&__icon {
				transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
			}

			@include adaptivity("tablet") {
				display: none !important;
			}
		}

		&-menu {
			&_active {
				color: #64b5f6 !important;
			}

			&__text {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&-dialog {
			&__name {
				flex: 1;
			}

			&__button {
				margin-right: 10px !important;
			}

			&__close {
				margin-left: 10px !important;
			}
		}

		&_active {
			.filters-filter-chip {
				&,
				&:hover,
				&:focus,
				&:active {
					background: #64b5f6;
					color: #ffffff;
				}

				&__icon {
					color: #ffffff;
					background-color: #0e8bf0;
				}
			}
		}

		&-popover {
			margin-top: 5px;

			&-legend {
				margin-bottom: 10px;
			}

			&__columns {
				display: flex;

				@include adaptivity("phone") {
					display: block;
				}
			}

			&-column {
				&:not(:last-of-type) {
					margin-right: 50px;
				}

				@include adaptivity("phone") {
					&:not(:first-of-type) {
						.filters-filter-popover-legend {
							padding-top: 10px;
						}
					}
				}
			}

			& &-group {
				flex-direction: row;
				justify-content: space-between;

				max-width: 450px;
				min-width: 250px;

				&__label {
					flex: 0 0 50%;
					margin-right: 0;
					user-select: none;

					min-width: 100px;
					max-width: 250px;
				}
			}

			&__wrapper {
				padding: 20px 20px 5px;

				@include adaptivity("tablet") {
					padding-left: 25px;
				}

				&_airports {
					.filters-filter-popover-group {
						min-width: 0;
						flex-direction: column;
					}
				}

				&_airlines {
					.filters-filter-popover {
						&-column {
							&:not(:last-of-type) {
								margin-right: 20px;
							}
						}

						&-group {
							max-width: 150px;
							min-width: 100px;

							@include adaptivity("tablet") {
								max-width: 100%;
							}

							&__label {
								flex-basis: 100%;
							}
						}
					}
				}
			}
		}
	}
}
