@import "variable";

.flight {
	min-height: 74px;
	border-top: 1px solid #d7d7d7;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

	&_hidden {
		display: none;
	}

	&_open {
		margin: 15px 0;
		border-top: none;
		border-radius: 2px;

		.flight-summary {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
	}

	&_open + & {
		border-top: none;
	}

	@include adaptivity(tablet) {
		border-top: none;
		margin-top: 15px;
		border-radius: 2px;
	}

	&:first-of-type,
	&_firstVisible {
		border-top: none;
		margin-top: 0;

		@include adaptivity(tablet) {
			margin-top: 15px;
		}

		&,
		.flight-summary {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
	}

	&:last-of-type {
		&,
		.flight-summary {
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}

	&-summary {
		display: flex;
		align-items: center;
		justify-content: space-between;

		min-height: 73px;
		padding: 12px 24px;

		cursor: pointer;
		transition: background-color 0.15s, border 0.15s;

		@include adaptivity(tablet) {
			flex-wrap: wrap;
			position: relative;

			padding-bottom: 15px;
			border-radius: 2px;
		}

		@include adaptivity(phone) {
			padding: 15px 0;
		}

		&:hover {
			background: #fcfcfc;

			.flight-summary-stage-routeInfo__flightTime,
			.flight-details-segment-stage-routeInfo__flightTime {
				background: #fcfcfc;
			}
		}

		&__left,
		&__middle,
		&__right {
			display: flex;
			align-items: center;

			@include adaptivity(phone) {
				padding: 0 15px;
			}
		}

		&__left {
			@include adaptivity(tablet) {
				flex-basis: 100%;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		}

		&__middle {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 320px;

			@include adaptivity(laptop-large) {
				padding-left: 15px;
			}

			@include adaptivity(laptop) {
				max-width: 100%;
				min-width: 0;
				padding-left: 10px;
			}

			@include adaptivity(tablet) {
				flex-basis: 50%;
				margin-top: 20px;
				padding-left: 0;
			}

			@include adaptivity(phone) {
				padding-left: 15px;
				flex-basis: 100%;
			}
		}

		&__right {
			width: 270px;
			justify-content: flex-end;

			@include adaptivity(tablet) {
				flex-basis: 50%;
				margin-top: 20px;
			}

			@include adaptivity(phone) {
				border-top: 1px solid #e0e0e0;
				padding: 15px 15px 0;
				flex-basis: 100%;
			}
		}

		&_open {
			&:hover {
				background: transparent;

				.flight-summary-stage-routeInfo__flightTime,
				.flight-details-segment-stage-routeInfo__flightTime {
					background: #ffffff;
				}
			}

			@include adaptivity(only-laptop) {
				.flight-summary-stage-routeInfo {
					width: 85px;
				}
			}
		}

		&-expand {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			width: 40px;
			height: 40px;

			margin-left: -12px;
			margin-right: 15px;

			color: rgba(0, 0, 0, 0.54);
			border-radius: 50%;
			transition: transform 0.225s ease-out;

			svg {
				margin-top: 2px;
				width: 24px;
				height: 24px;
			}

			&:active {
				background: #e0e0e0;
			}

			&_open {
				transform: rotate(180deg);
			}

			@include adaptivity(laptop) {
				margin-right: 0;
			}

			@include adaptivity(tablet) {
				position: absolute;
				top: 0;
				right: 0;

				margin-top: 5px;
				margin-right: 10px;
			}

			@include adaptivity(phone) {
				bottom: 12.5px;
				left: 15px;
				top: auto;
				right: auto;

				margin-top: 0;
				margin-right: 0;
			}
		}

		&-logo {
			width: 180px;
			font-size: 15px;

			display: flex;
			justify-content: center;
			user-select: none;

			@include adaptivity(tablet) {
				flex-basis: 100%;
				margin-bottom: 10px;
			}

			&__image {
				max-width: 70px;
				max-height: 19px;
				margin-right: 15px;

				&:first-of-type {
					margin-left: -10px;
				}

				&:last-of-type {
					margin-right: 0;
				}

				&:only-child {
					max-width: 160px;
					max-height: 23px;
				}
			}

			&__text {
				padding-right: 15px;
			}

			@include adaptivity(laptop) {
				width: 120px;
				flex-wrap: wrap;

				&__image {
					&:only-child {
						max-width: 100px;
					}

					&:not(:only-child) {
						margin-right: 0;
						margin-left: 0;
						margin-bottom: 10px;
					}

					&:last-child:not(:only-child) {
						margin-bottom: 0;
					}
				}
			}
		}

		&-stage {
			width: 65px;
			text-align: center;

			@include adaptivity(tablet) {
				&_departure {
					text-align: left;
				}

				&_arrival {
					text-align: right;
				}
			}

			&__time {
				font-size: 1.5rem;

				@include adaptivity(laptop) {
					font-size: 1.2rem;
				}
			}

			&__date {
				color: $light-font-color;
				font-size: 0.75rem;

				&_warning {
					color: #ff9800;
				}
			}

			&-routeInfo {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				margin: 0 24px;
				width: 110px;
				text-align: center;

				@include adaptivity(tablet) {
					width: calc(100% - 70px * 2) !important;
				}

				&__arrow {
					position: relative;
					width: 100%;
					border-bottom: 1px solid #d0d0d0;

					&:after {
						content: "";
						position: absolute;
						height: 4px;
						width: 4px;
						border-top: 1px solid #d0d0d0;
						border-left: 1px solid #d0d0d0;
						bottom: -3px;
						right: -1px;
						transform: rotate(135deg);
					}
				}

				&__flightTime {
					position: absolute;
					padding: 0 5px;

					line-height: 20px;
					font-size: 11px;

					background: #ffffff;
					transition: background-color 0.15s;
				}

				@include adaptivity(laptop) {
					margin: 0 5px;
				}
			}
		}

		&-route {
			color: $light-font-color;

			@include adaptivity(laptop) {
				font-size: 11px;
			}
		}

		&-price {
			margin-right: 24px;
			color: $light-font-color;

			@include adaptivity(tablet) {
				margin-right: 0;
			}

			&-profitMark {
				color: rgb(120, 174, 53);
				position: relative;
				white-space: nowrap;

				&__icon {
					position: absolute;
					top: -4px;
					left: -25px;

					svg {
						width: 21px !important;
					}
				}

				@include adaptivity(laptop) {
					font-size: 11px;
					max-width: 90px;
					text-align: right;
					white-space: normal;

					&__icon {
						top: -22px;
						left: -14px;

						svg {
							width: 13px !important;
						}
					}
				}

				@include adaptivity(tablet) {
					font-size: 11px;
					margin-right: 10px;
					white-space: nowrap;
					max-width: unset;

					&__icon {
						top: -5px;
						left: -19px;

						svg {
							width: 15px !important;
						}
					}
				}
			}

			&__amount {
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				flex-wrap: wrap;

				&-prefix {
					position: relative;
					top: -3px;
				}

				.price {
					text-align: right;
					color: $common-font-color;
					font-size: 1.5rem;
					margin-left: 5px;

					&-currency {
						font-size: 18px;
						font-weight: 400;
						margin-left: 5px;
						color: $light-font-color;
					}

					@include adaptivity(laptop) {
						white-space: nowrap;
						font-size: 1.2rem;
					}
				}

				&_profitable {
					.price {
						&-amount,
						&-currency {
							color: #78ae35;
						}
					}
				}

				@include adaptivity(tablet) {
					margin-right: 10px;
				}

				@include adaptivity(phone) {
					margin-right: 15px;
				}
			}

			&__route {
				text-align: right;

				@include adaptivity(laptop) {
					font-size: 11px;
				}

				@include adaptivity(tablet) {
					padding-right: 10px;
				}

				@include adaptivity(phone) {
					padding-right: 15px;
				}
			}
		}

		&-buy {
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 1.4rem;
			text-transform: uppercase;

			padding: 7px 16px;
			border-radius: 4px;

			max-width: 100px;
			min-height: 36px;
			width: 100px;
			text-align: center;

			color: #ffffff;
			background-color: #94ca51;
			box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
			transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
			user-select: none;

			&:hover {
				background: #95d04b;
			}

			&:active {
				background: #afdb8d;
				box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
			}

			@include adaptivity(tablet) {
				bottom: 0;
			}

			.price {
				white-space: nowrap;
				font-size: 18px;

				&-currency {
					margin-left: 2px;
				}
			}
		}

		&-changeFlight {
			max-width: 100px;
			width: 100px;
		}
	}

	&-details {
		margin-top: -15px;
		padding: 0 0 15px 0;

		&-segment {
			padding-left: 43px;

			@include adaptivity(tablet) {
				padding-left: 25px;
			}

			&__left {
				@extend .flight-summary__left;
			}

			&__middle {
				@extend .flight-summary__middle;
			}

			&__right {
				@extend .flight-summary__right;
				font-size: 15px;

				@include adaptivity(tablet) {
					display: none;
				}
			}

			&__wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 24px;

				@include adaptivity(laptop) {
					padding-left: 10px;
				}

				@include adaptivity(tablet) {
					flex-wrap: wrap;
					padding-left: 0;
				}

				@include adaptivity(phone) {
					padding-left: 0;
				}
			}

			&-logo {
				@extend .flight-summary-logo;

				&__image {
					@extend .flight-summary-logo__image;
				}

				&__text {
					@extend .flight-summary-logo__text;
				}
			}

			&-stage {
				@extend .flight-summary-stage;

				@include adaptivity(tablet) {
					&_departure {
						text-align: left;
					}

					&_arrival {
						text-align: right;
					}
				}

				&__time {
					@extend .flight-summary-stage__time;
				}

				&__date {
					@extend .flight-summary-stage__date;

					&_warning {
						@extend .flight-summary-stage__date_warning;
					}
				}

				&-routeInfo {
					@extend .flight-summary-stage-routeInfo;

					&__arrow {
						@extend .flight-summary-stage-routeInfo__arrow;
					}

					&__flightTime {
						@extend .flight-summary-stage-routeInfo__flightTime;
					}
				}
			}

			&-route {
				@extend .flight-summary-route;

				@include adaptivity(laptop) {
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;
				}
			}

			&-transfer {
				display: flex;
				align-items: center;

				background: #f7f7f7;
				margin: 12px 24px 12px 0;
				padding: 12px;

				svg {
					width: 18px;
					height: 18px;
					margin-right: 8px;
					fill: rgba(0, 0, 0, 0.87);
				}
			}
		}

		&-filters {
			border-top: 1px solid #e0e0e0;
			padding: 10px 0 10px 43px;

			&-label {
				margin-left: 20px;
				margin-right: 10px;
				color: rgba(0, 0, 0, 0.54);

				&:first-of-type {
					margin-left: 0;
				}

				@include adaptivity(phone) {
					position: absolute;
					top: 0;
				}
			}

			&-group {
				display: inline-block;
				padding: 5px 0;

				@include adaptivity(phone) {
					position: relative;
				}
			}

			@include adaptivity(tablet) {
				padding-left: 24px;
			}

			@include adaptivity(phone) {
				padding-bottom: 0;
			}
		}

		&-filter {
			display: inline-block;

			@include adaptivity(phone) {
				margin-top: 15px;
				margin-bottom: 10px;
			}

			&-chip {
				margin-right: 10px;

				&_disabled {
					opacity: 0.5;
				}
			}

			&_active &-chip {
				&:not(focus),
				&:focus {
					background-color: #64b5f6;
					color: #ffffff;
				}
			}
		}
	}

	&_direct &-summary {
		&:not(.flight-summary_isToggleable) {
			cursor: default;

			&:hover {
				background-color: transparent;

				.flight-summary-stage-routeInfo__flightTime {
					background-color: #ffffff;
				}
			}

			.flight-summary-expand {
				opacity: 0.3;

				&:active {
					background-color: transparent;
				}
			}
		}
	}
}
