@import "variable";

.flight {
	&_hidden {
		display: none;
	}

	&__shadow {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
	}

	&__wrapper {
		&_open {
			border-bottom: none;
			padding: 16px 0;
		}
	}

	&__holder {
		&:first-of-type {
			.flight {
				&__shadow, &-summary {
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
				}

				&__wrapper {
					padding-top: 0;
				}
			}
		}

		&:last-of-type {
			.flight__shadow, .flight-summary {
				border-bottom-left-radius: 2px;
				border-bottom-right-radius: 2px;
			}
		}
	}

	&-summary {
		display: flex;
		align-items: center;
		justify-content: space-between;

		min-height: 73px;
		padding: 12px 24px;

		cursor: pointer;
		border-bottom: 1px solid #d7d7d7;
		background-color: #fff;
		transition: background-color 0.15s;

		&:hover {
			background: #fcfcfc;

			.flight-summary-stage-routeInfo__flightTime, .flight-details-segment-stage-routeInfo__flightTime {
				background: #fcfcfc;
			}
		}

		&__left, &__middle, &__right {
			display: flex;
			align-items: center;
		}

		&__middle {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 320px;
		}

		&__right {
			width: 270px;
			justify-content: flex-end;
		}

		&_open {
			border-bottom: 1px solid #e0e0e0;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;

			.flight-summary-logo, .flight-summary-stage, .flight-summary-stage-routeInfo, .flight-summary__middle {
				display: none;
			}

			.flight-summary-placeholder {
				display: block;
			}
		}

		&-expand {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			width: 40px;
			height: 40px;

			margin-left: -12px;
			margin-right: 15px;

			color: rgba(0, 0, 0, 0.54);
			border-radius: 50%;
			transition: transform 0.225s ease-out;

			svg {
				margin-top: 2px;
				width: 24px;
				height: 24px;
			}

			&:active {
				background: #e0e0e0;
			}

			&_open {
				transform: rotate(180deg);
			}
		}

		&-logo {
			width: 180px;
			font-size: 15px;

			display: flex;
			justify-content: center;

			&__image {
				max-width: 110px;
				max-height: 25px;
				margin-left: -15px;
			}

			&__text {
				padding-right: 15px;
			}
		}
		
		&-placeholder {
			display: none;
			font-size: 1rem;

			&-chip {
				margin-left: 10px;

				&:first-of-type {
					margin-left: 15px;
				}
			}

			&__route {
				margin-left: 15px;
				color: $light-font-color;
			}
		}

		&-stage {
			width: 65px;
			text-align: center;

			&__time {
				font-size: 1.5rem;
			}

			&__date {
				color: $light-font-color;
				font-size: 0.75rem;

				&_warning {
					color: #ff9800;
				}
			}

			&-routeInfo {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				margin: 0 24px;
				width: 110px;
				text-align: center;

				&__arrow {
					position: relative;
					width: 100%;
					border-bottom: 1px solid #d0d0d0;

					&:after {
						content: '';
						position: absolute;
						height: 4px;
						width: 4px;
						border-top: 1px solid #d0d0d0;
						border-left: 1px solid #d0d0d0;
						bottom: -3px;
						right: -1px;
						transform: rotate(135deg);
					}
				}

				&__flightTime {
					position: absolute;
					padding: 0 5px;

					line-height: 20px;
					font-size: 11px;

					background: #fff;
					transition: background-color 0.15s;
				}
			}
		}

		&-route {
			color: $light-font-color;
		}

		&-price {
			margin-right: 24px;
			color: $light-font-color;

			&__amount {
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;

				&-prefix {
					position: relative;
					top: -3px;
				}

				.price {
					color: $common-font-color;
					font-size: 1.5rem;
					margin-left: 5px !important;

					&-currency {
						font-size: 15px;
						font-weight: 400;
						margin-left: 5px;
						color: $light-font-color;
					}
				}
			}
		}

		&-buy {
			font-size: 15px;
			line-height: 40px;
			padding: 0 15px;
			border-radius: 0;

			color: #fff;
			background-color: #88c43d;
			box-shadow: 0 4px 8px 0 rgba(93, 134, 41, .5);
			transition: background .1s ease-in;
			user-select: none;

			&:hover {
				background: #94ca51;
			}

			&:active {
				background: #94ca51;
				box-shadow: 0 4px 8px 0 rgba(93, 134, 41, .5), inset 0 1px 2px 0 #b8dc8b;
			}
		}
	}

	&-details {
		padding: 15px 0;

		&__wrapper {
			background-color: #fff;
		}

		&-segment {
			padding-left: 43px;

			&__left {
				@extend .flight-summary__left;
			}

			&__middle {
				@extend .flight-summary__middle;
			}

			&__right {
				@extend .flight-summary__right;
				font-size: 15px;
			}

			&__wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;

				//max-width: 516px;
				padding: 0 24px;
			}

			&-logo {
				@extend .flight-summary-logo;

				&__image {
					@extend .flight-summary-logo__image;
				}
			}

			&-stage {
				@extend .flight-summary-stage;

				&__time {
					@extend .flight-summary-stage__time;
				}

				&__date {
					@extend .flight-summary-stage__date;

					&_warning {
						@extend .flight-summary-stage__date_warning;
					}
				}

				&-routeInfo {
					@extend .flight-summary-stage-routeInfo;

					&__arrow {
						@extend .flight-summary-stage-routeInfo__arrow;
					}

					&__flightTime {
						@extend .flight-summary-stage-routeInfo__flightTime;
					}
				}
			}

			&-route {
				@extend .flight-summary-route;
			}

			&-transfer {
				display: flex;
				align-items: center;

				background: #f7f7f7;
				margin: 12px 24px 12px 0;
				padding: 12px;

				svg {
					width: 18px;
					height: 18px;
					margin-right: 8px;
					fill: rgba(0, 0, 0, 0.87);
				}
			}
		}
	}
}
