.flight {
	&-summary {
		& > div {
			justify-content: space-between;

			& > :last-child {
				padding-right: 0;
			}
		}

		&__left, &__middle, &__right {
			display: flex;
			align-items: center;
		}

		&__middle {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 200px;
		}

		&__right {
			width: 250px;
			justify-content: flex-end;
		}

		&-logo {
			width: 180px;
			display: flex;
		}

		&-stage {
			width: 65px;
			text-align: center;

			&-routeInfo {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				margin: 0 24px;
				width: 110px;
				text-align: center;

				&__arrow {
					position: relative;
					width: 100%;
					border-bottom: 1px solid #d0d0d0;

					&:after {
						content: '';
						position: absolute;
						height: 4px;
						width: 4px;
						border-top: 1px solid #d0d0d0;
						border-left: 1px solid #d0d0d0;
						bottom: -3px;
						right: -1px;
						transform: rotate(135deg);
					}
				}

				&__flightTime {
					position: absolute;
					padding: 0 5px;

					line-height: 20px;
					font-size: 11px;

					color: rgba(0, 0, 0, 0.87);
					background: #fff;
				}
			}
		}

		&-route {
			color: rgba(0, 0, 0, 0.54);
		}

		&-price {
			margin-right: 24px;
			color: rgba(0, 0, 0, 0.54);

			&__amount {
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;

				&-wrapper {
					margin-left: 5px !important;
				}
			}
		}
	}

	&-details {
		border-top: 1px solid #e0e0e0;
	}
}
