@import "variable";

.results {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;

	font-size: 13px;
	font-weight: 400;
	background-color: #f5f5f5;
	color: rgba(0, 0, 0, 0.87);

	transform: translateY(250px);
	transition: transform 0.25s ease-out;

	@include adaptivity(phone) {
		transform: none;
	}

	&_pinned {
		transform: none;
	}

	&_isLoading {
		.results-loader {
			display: block;
		}

		.results__inner-content {
			display: none;
		}
	}

	.ReactVirtualized__List,
	.ReactVirtualized__Grid__innerScrollContainer {
		outline: none !important;
		overflow: visible !important;
		padding-bottom: 100px;
	}

	&__inner {
		width: $common-content-width;
		margin: 0 auto;
		padding-bottom: 30px;

		@include adaptivity(laptop-large) {
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&-searchForm {
		margin-bottom: 50px;

		@include adaptivity(laptop) {
			margin-bottom: 0;
		}

		.widget {
			&-form {
				&-search {
					&__wrapper {
						width: 1370px;
						margin: 0 auto;
					}

					&__startButton {
						position: relative !important;

						* {
							position: relative;
						}
					}
				}

				&__routeTypeSwitch {
					width: 1370px;
				}

				&-additionalOptions {
					padding-left: 0;
					transform: translateX(-50%);

					width: 1340px;
					left: 50%;

					&__checkboxes {
						margin-right: 20px;

						@include adaptivity(laptop) {
							padding: 0;
							margin-right: 0;
						}
					}

					@include adaptivity(laptop-large) {
						padding-right: 2rem;
						padding-left: 2rem;
					}

					@include adaptivity(laptop) {
						padding: 0;
					}
				}

				&-search__wrapper,
				&-additionalOptions,
				&__routeTypeSwitch {
					@include adaptivity(laptop-large) {
						width: 100%;
					}
				}
			}
		}
	}

	&-noResultsTitle {
		text-align: center;
		margin-top: 20px;

		h3 {
			margin-top: 5px;
			color: rgba(0, 0, 0, 0.54);
		}
	}

	&-selectedFlights {
		margin-top: 20px;

		&-title {
			margin-bottom: 15px;
		}

		.flight {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				bottom: 0;
				width: 5px;

				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
				background-color: #94ca51;
			}

			@include adaptivity(tablet) {
				&-summary {
					&-changeFlight {
						margin-left: 10px;
					}

					&-price {
						&__amount {
							margin-right: 0;
						}

						&__route {
							position: relative;
							padding-right: 0;
						}
					}
				}
			}

			@include adaptivity(phone) {
				&-summary {
					&-changeFlight {
						margin-left: 15px;
					}
				}
			}
		}
	}

	&-flights {
		&-showAll {
			text-align: center;
			margin: 15px 0;

			&__button {
				color: rgba(0, 0, 0, 0.87);
				box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
				background-color: #e0e0e0;
				padding: 8px 16px;
				font-size: 0.875rem;
				min-width: 88px;
				transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
				min-height: 36px;
				box-sizing: border-box;
				line-height: 1.4em;
				font-family: "Roboto", "Helvetica", "Arial", sans-serif;
				font-weight: 500;
				border-radius: 4px;
				text-transform: uppercase;
				cursor: pointer;
				margin: 0;
				border: none;
				display: inline-flex;
				outline: none;
				position: relative;
				user-select: none;
				align-items: center;
				vertical-align: middle;
				justify-content: center;
				text-decoration: none;

				&:hover {
					background-color: #d5d5d5;
				}

				&:active {
					box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
				}
			}
		}
	}

	&-flightNumberSearch {
		margin-top: 20px;
		width: 100%;
		position: absolute;
		left: 0;

		&__lensIcon {
			margin-left: 1px;
		}

		&__clear {
			cursor: pointer;
			display: flex;
			align-items: center;

			svg {
				width: 24px;
				height: 24px;
			}
		}

		&__label {
			display: flex;
			align-items: center;

			span {
				padding-left: 5px;
			}
		}
	}

	&-loader {
		display: none;
		text-align: center;

		&__progressBar {
			height: 7px !important;
		}

		h1 {
			margin-top: 13px;
		}
	}

	&-dummy {
		margin-top: 13px;

		.flight-summary {
			background: #ececec;
			opacity: 0.8;
			color: #d2d1d1;
			cursor: default;

			&:hover {
				background: #ececec;

				.flight-summary-stage-routeInfo__flightTime {
					background: #ececec;
				}
			}

			&-expand {
				&:active {
					background: none;
				}
			}

			&-stage {
				&-routeInfo__flightTime {
					background: #ececec;
				}

				&__time {
					font-size: 2rem;

					.results-dummy__text {
						letter-spacing: -10px;
					}
				}

				&__date {
					.results-dummy__text {
						padding-right: 0;
						padding-left: 2px;
					}
				}
			}
		}

		.filters {
			&__left {
				h1 {
					margin-top: 0;
				}
			}

			&__right {
				margin-bottom: 0;
			}
		}

		.price-amount {
			font-size: 2rem;

			.results-dummy__text {
				letter-spacing: -10px;
			}
		}

		&__text {
			letter-spacing: -4px;
			padding-right: 4px;
			color: #d2d1d1;
		}

		&__logo {
			width: 80px;
			height: 35px;
			background: #d2d1d1;
		}

		&__buy {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 100px;
			height: 36px;
			background: #d2d1d1;
			line-height: 36px;
			font-size: 21px;
			box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);

			.results-dummy__text {
				color: #eaeaea;
				letter-spacing: -6.5px;
				margin-bottom: 3px;
			}
		}

		&__filter {
			height: 32px;
			display: inline-flex;
			border-radius: 16px;
			line-height: 32px;
			padding-left: 10px;
			padding-right: 10px;
			background-color: #d2d1d1;
			opacity: 0.8;

			&:not(:first-of-type) {
				margin-left: 10px;
			}

			.results-dummy__text {
				color: #eaeaea;
			}
		}
	}

	&-error {
		&-priceChanged {
			display: flex;
			margin-bottom: 20px;
			margin-top: 5px;

			.price-amount {
				font-size: 27px;
				font-weight: 500;
			}

			.price-currency {
				margin-left: 5px;
			}
		}

		&-notAvailable {
			.flight {
				border: none;
				border-radius: 4px;
				box-shadow: none;

				&-summary {
					&:hover {
						background: inherit;
					}

					&-expand {
						display: none;
					}

					&-logo {
						width: 120px;
						height: auto;
						margin-left: 30px;
						margin-right: 10px;

						&__image {
							max-width: 65px;
							margin-left: 10px;
							margin-right: 0;

							&:only-child {
								max-width: 100px;
								margin-left: 0;
							}

							&:not(only-child):first-child {
								margin-left: 0;
							}
						}
					}

					&-stage {
						&__time {
							font-size: 1.2rem;
						}

						&__date {
							font-size: 11px;
						}

						&-routeInfo {
							margin: 0;
							width: 50px;

							&__arrow {
								width: 80%;
							}

							&__flightTime {
								display: none;
							}
						}
					}

					&-route {
						font-size: 11px;
					}

					&__middle {
						font-size: 13px;
						margin-left: 20px;

						@include adaptivity('tablet') {
							margin-left: 0;
						}
					}
				}
			}
		}

		&-tooltip {
			font-size: 13px !important;
		}

		&__price {
			&_old {
				color: #d0d0d0;
				position: relative;
				margin-right: 10px;

				&:before {
					border-top: 2px solid #ff0000;
					width: 100%;
					content: "";
					position: absolute;
					left: 0;
					margin-top: 8px;
					transform: rotate(-18deg);
				}
			}

			&_new {
				color: #78ae35;

				&:before {
					content: "";
					border-top: 3px solid;
					border-left: 3px solid;
					transform: rotate(135deg);
					display: inline-block;
					width: 10px;
					height: 10px;
					margin-bottom: 3px;
					margin-right: 10px;
				}
			}
		}

		&-flight {
			border-radius: 4px;
			box-shadow: none;
			position: relative;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 20px;
			}

			&__available {
				border: 1px solid #88c43d;
				border-left: 5px solid #88c43d;
			}

			&__notAvailable {
				border: 1px solid #ff6767;
				border-left: 5px solid #ff6767;

				.results-error-flight__icon {
					color: #ff6767;
				}
			}

			&__icon {
				position: absolute;
				color: #88c43d;
				height: 100%;
				display: flex;
				align-items: center;
				margin-left: 10px;

				@include adaptivity('tablet') {
					height: auto;
					margin-top: 20px;
					margin-left: 24px;
				}

				@include adaptivity('phone') {
					margin-left: 15px;
				}
			}

			&__iconContainer {
				border: 1px solid currentColor;
				border-radius: 50%;
				width: 26px;
				height: 26px;
			}
		}
	}
}

.snackbar {
	bottom: 20px !important;

	&-close {
		width: 36px !important;
		height: 36px !important;
	}
}

.tooltip {
	display: flex;
	text-align: center;
	max-width: 370px;

	font-size: 12px;
	padding: 3px;
}

.actualization {
	&-loader {
		position: fixed;
		z-index: 1;

		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		cursor: wait;
		background-color: rgba(255, 255, 255, 0.4);
	}
}

.dialog {
	&-content {
		font-size: 0.9rem;
		line-height: 20px;
	}

	&-actions {
		margin: 10px 6px !important;

		&__button {
			margin: 0 4px !important;
		}
	}
}
