@import "variable";

.results {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&_isLoading {
		.results-loader {
			display: block;
		}

		.fareFamilies, .results__inner-content {
			display: none;
		}
	}

	.ReactVirtualized__List, .ReactVirtualized__Grid__innerScrollContainer {
		outline: none !important;
		overflow: visible !important;
		padding-bottom: 100px;
	}

	&__inner {
		width: 1280px;
		margin: 0 auto;

		padding-top: 50px;
		padding-bottom: 80px;

		flex-direction: column;
	}

	&-loader {
		display: none;
		text-align: center;
		padding-top: 30px;
	}
}

.snackbar {
	bottom: 75px !important;

	&-close {
		width: 36px !important;
		height: 36px !important;
	}
}
