@import "variable";

.sorting {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-left: 246px;
	margin: 10px 0;

	@include adaptivity(laptop) {
		padding-left: 146px;
	}

	@include adaptivity(tablet) {
		display: none;
	}

	&__left,
	&__middle,
	&__right {
		display: flex;
		align-items: center;

		@include adaptivity(phone) {
			flex-basis: 100%;
		}
	}

	&__middle {
		width: 320px;

		@include adaptivity(phone) {
			display: none;
		}
	}

	&__right {
		width: 270px;
		padding-right: 162px;
		justify-content: flex-end;

		@include adaptivity(tablet) {
			padding-right: 25px;
		}

		@include adaptivity(phone) {
			padding-right: 0;
			justify-content: center;
			margin-top: 10px;
		}
	}

	&-item {
		display: flex;
		align-items: center;
		justify-content: center;

		color: $light-font-color;
		transition: color 0.2s;

		@include adaptivity(phone) {
			flex-basis: 100%;
		}

		@include adaptivity(tablet) {
			display: block;
			color: currentColor;
		}

		&-arrows {
			width: 20px;
			height: 30px;
			position: relative;
			display: none;

			&__up, &__down {
				position: absolute;
				top: 0;
				left: 0;

				&,
				svg {
					width: 14px;
					height: 14px;
				}
			}

			&__down {
				top: 12px;
				left: 5px;
			}
		}

		&__inner {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			@include adaptivity(tablet) {
				justify-content: left;
			}
		}

		&__text {
			cursor: pointer;
			border-bottom: 1px dashed;
			user-select: none;

			@include adaptivity(tablet) {
				border-bottom: none;
				padding-right: 10px;
			}
		}

		&__arrow {
			position: absolute;
			right: -20px;

			display: none;
			transition: transform 0.115s ease-out;

			margin-left: 5px;
			margin-top: 1px;

			&,
			svg {
				width: 14px;
				height: 14px;
			}

			@include adaptivity(tablet) {
				right: -9px;
			}
		}

		&_active {
			color: #64b5f6;

			.sorting-item__arrow {
				display: block;
			}

			.sorting-item-arrows {
				display: block;
			}

			@include adaptivity(tablet) {
				color: currentColor;
			}
		}

		&_ASC {
			.sorting-item__arrow {
				transform: rotate(0deg);
			}

			.sorting-item-arrows {
				&__up {
					color: #d0d0d0;
				}

				&__down {
					color: currentColor;
				}
			}
		}

		&_DESC {
			.sorting-item__arrow {
				transform: rotate(180deg);
			}

			.sorting-item-arrows {
				&__up {
					color: currentColor;
				}

				&__down {
					color: #d0d0d0;
				}
			}
		}

		&_DepartureTime {
			width: 65px;
		}

		&_FlightTime {
			width: 158px;

			@include adaptivity(laptop) {
				width: 120px;
			}

			@include adaptivity(tablet) {
				width: auto;
			}
		}

		&_ArrivalTime {
			width: 65px;
		}

		&_Price {
			justify-content: flex-end;
			width: 113px;

			@include adaptivity(phone) {
				justify-content: center;
			}

			@include adaptivity(tablet) {
				width: auto;
			}
		}
	}
}
